.container {
  padding: 2rem;
}

.info {
  margin-bottom: 2rem;
  background-color: #D3D4FF;
  padding: 1rem;
}

.info-text {
  color: #000149;
  font-size: 1.6rem;
}

.title {
  color: #00001D;
  font-size: 3.2rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.sub-title {
  color: #00001D;
  font-size: 2.4rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.form {
  background-color: #D3D4FF;
  display: flex;
  flex-direction: column;
  padding: 4rem;
  margin-bottom: 2rem;
}

.form__info {
  margin-bottom: 1rem;
}

.form__label {
  margin-right: 1rem;
  color: #000149;
}

.form__input {
  border: solid .1rem #00001D;
  padding: .2rem;
}

.form__btn {
  width: 20rem;
  padding: 1rem .2rem;
  font-weight: bold;
}

.message {
  margin-bottom: 2rem;
  display: block;
  width: 100%;
  text-align: center;
  color: #CC0009;
  font-weight: bold;
  font-size: 1.8rem;
}